<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../dist/css/style.css">
    <link rel="stylesheet" href="../../dist/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
        <header class="d-flex justify-content-between align-items-center px-5">
            <div class="logo">
                <img src="" alt="">
                <h2>Eletrônica Caldeira</h2>
            </div>
            <nav>
                <li>
                    teste
                </li>
            </nav>
        </header>
        <div class="container">
            <div class="container interno w-75 mt-5">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Endereço</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Estado</label>
                            <select id="inputState" class="form-select">
                            <option selected>Escolha...</option>
                            <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Cep</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Cadastrar-se</button>
                        </div>
                    </form>
            </div>
        </div>
        <script src="../../dist/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>